body {
  width: 100%;
  height: 1vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(205,205,205);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

